TWITTER_BEARER_TOKEN=your_token_here
MY_TWITTER_USER_ID=xxx
MY_TWITTER_USERNAME=USERNAME
UNANSWERED_LIMIT=3
TIME_LIMIT_HOURS=24
ACTION_TYPE=mute
CHECK_INTERVAL=3600000
PERSIAN_QUESTION_WORDS=چرا,چگونه,چطور,کجا,کی,چه,کدام,آیا
TURKISH_QUESTION_WORDS=ندن, نه زمان, نجه, نئجه, هاردا, هاواخت, گؤندر, نه عجب, نییه, نیه
